
<a id="showback" href="/budgets">Back to Your budgets</a>
  <br>
  <br>
<h2 id="createpo">Create new purchase order! </h2>
  <br>
<div id="newpo">
    <%if !!@errors%>
      <%@errors.each do |e|%>
      <%=e.capitalize%>
      <br>
      <%end%>
    <%end%>
    <br>
  <form method="post" action="/purchase_orders">
    <div id="newinput">
      <label>Purchase Order Number: <input type="text" id="new_po_number" name="po[po_number]"></label>
      <br>
      <br>
      <label>Purchase Order Authorized Amount: <input type="text" id="new_po_authorized_amount" name="po[po_authorized_amount]"></label>
      <br>
      <br>
      <label>Choose a vendor: </label>
      <select id="list_of_vendors" name="po[vendor_id]">
        <%Vendor.all.each do |v|%>
        <option value="<%=v.id%>"><%=v.name.capitalize%></option>
        <%end%>
      </select>
      <br>
      <p> If you do not see a vendor, you can add one <a href="/vendors/new">here</a></p>
      <label>Assign to:
      <select id="list_of_budgets" name="po[budget_id]">
      <%current_user.budgets.each do |b|%>
        <option value="<%=b.id%>"><%=b.name.capitalize%></option>
        <%end%>
      </select>
      Budget
      </label>
    </div>
      <br>
      <br>
      <input type="submit" value="Create Purchase Order!">
  </form>
</div>