
<a href="/budgets">Your Budgets</a>
<br>
<br>
<%=@budget.name.capitalize%> Budget Dashboard
<br>
<br>
<table>
    <tr>
        <th>PO Number</th>
        <th>PO Vendor</th>
        <th>PO Authorized Amount</th>
        <th>PO Adjustments</th>
        <%@budget.purchase_orders.each do |p|%>
    </tr>
        <th><%=p.po_number%></th>
        <th><%=p.vendor%></th>
        <th><%=p.po_authorized_amount%></th>
        <th>PO Adjustments</th>
    <tr>
     <%end%>
        <th><a href="/purchase_order/new"> Add PO</th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th><%=@budget.name.capitalize%> Target</th>
        <th></th>
        <th><%= format_number(@budget.target) %></th>
    </tr>
</table>