
<a id="showback" href="/budgets">Your Budgets</a>
<br>
<br>
<h2 id="dashboard"><%=@budget.name.capitalize%> Budget Dashboard</h2>
<br>
<br>
<table id="showbudgets">
    <tr>
        <th>PO Number</th>
        <th>PO Vendor</th>
        <th>PO Authorized Amount</th>
        <th>PO Adjustments</th>
        <%@budget.purchase_orders.each do |p|%>
    </tr>
        <td><%=p.po_number%></td>
        <td><%=p.vendor.name.capitalize%></td>
        <td><%=format_number(p.po_authorized_amount)%></td>
        <td>
            <a href="/purchase_orders/<%=p.id%>/edit">edit</a> 
            or 
            <form method="post" action="/purchase_orders/<%=p.id%>">
            <input id="hidden" type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete">
            </form>
        </td>
        <%@open_po_sum += p.po_authorized_amount%>
    <tr>
     <%end%>
    <tr>
        <td><a href="/purchase_orders/new">Add PO</a></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>Total Open PO Project Spend</th>
        <th></th>
        <th><%=format_number(@open_po_sum)%></th>
    </tr>
    <tr>
        <th><%=@budget.name.capitalize%> Target</th>
        <th></th>
        <th><%= format_number(@budget.target) %></th>
    </tr>
    <tr>
        <th><%="Fav/(Unfav) vs Target"%></th>
        <th></th>
        <th><%=format_number(@budget.target - @open_po_sum)%></th>
    </tr>
</table>
<br>
<br>
<a id="showedit" href="/budgets/<%=@budget.id%>/edit">Edit Budget</a>
<br>
<br>
<form method="post" action="/budgets/<%=@budget.id%>">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Budget">
</form>